<main>
  <section class="">
    <img src="/assets/images/logo.svg" alt="" />
    <h2>{{ login }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="login" (click)="submit()" [disabled]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div class=""></div>
        <span>OU</span>
        <div class=""></div>
      </div>
      <button class="signup" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section>
    <div class="content">
      <h1>Introduzindo ao REduce</h1>
      <p>
        O REduce é um CRM que facilita a gestão de clientes, automatizando processos e oferecendo
        insights para decisões mais estratégicas. Ideal para empresas que buscam otimizar o
        atendimento e a eficiência.
      </p>
    </div>
    <img src="/assets/images/work.svg" alt="" />
  </section>
</main>
