<main class="flex flex-col md:flex-row h-dvh justify-center items-center space-y-4">
  <section
    class="lg:flex-1 space-y-6 justify-center items-center hidden lg:flex lg:flex-col lg:bg-gradient-to-r from-secondary to-primary h-full p-4 text-white"
  >
    <div class="md:w-3/4 flex flex-col space-y-2 animate-fade-in">
      <h1 class="font-bold text-xl">Introduzindo ao REduce</h1>
      <p class="font-medium">
        O REduce é um CRM que facilita a gestão de clientes, automatizando processos e oferecendo
        insights para decisões mais estratégicas. Ideal para empresas que buscam otimizar o
        atendimento e a eficiência.
      </p>
    </div>
    <div class="md:w-3/4 flex flex-col space-y-2">
      <h2 class="font-bold text-lg">Principais Benefícios</h2>
      <ul class="space-y-2">
        <li class="flex items-center space-x-2">
          <svg
            class="w-5 h-5 text-yellow-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 2v20M2 12h20" />
          </svg>
          <span>Automação de Processos</span>
        </li>
        <li class="flex items-center space-x-2">
          <svg
            class="w-5 h-5 text-green-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 2v20M2 12h20" />
          </svg>
          <span>Visão Estratégica de Dados</span>
        </li>
        <li class="flex items-center space-x-2">
          <svg
            class="w-5 h-5 text-blue-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 2v20M2 12h20" />
          </svg>
          <span>Melhoria no Atendimento ao Cliente</span>
        </li>
        <li class="flex items-center space-x-2">
          <svg
            class="w-5 h-5 text-red-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 2v20M2 12h20" />
          </svg>
          <span>Redução de Custos Operacionais</span>
        </li>
      </ul>
    </div>
    <div class="md:w-3/4 flex justify-start items-center mt-6">
      <a
        href="#demonstração"
        class="bg-primary flex gap-2 justify-center items-center px-6 py-3 rounded-lg text-lg font-medium text-white hover:bg-secondary transition duration-200"
      >
        Veja como funciona <img src="assets/icons/move-right.svg" alt="Move right" />
      </a>
    </div>
  </section>
  <section class="w-full md:w-[600px] flex flex-col h-auto p-6 md:p-8 m-4 gap-4">
    <img src="../../../assets/images/logo.svg" alt="" class="w-40 h-20" />
    <h2 class="font-semibold text-lg md:text-xl">{{ login }}</h2>
    <ng-content></ng-content>
    <div class="space-y-2">
      <button
        class="border rounded-lg font-semibold border-primary p-3 w-full cursor-pointer text-white bg-primary hover:bg-secondary transition-all ease-in-out"
        (click)="submit()"
        [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
      <div class="flex justify-center text-zinc-300 items-center w-full">
        <div class="w-full h-0.5 bg-zinc-300 mr-2"></div>
        <span class="font-semibold text-sm">OU</span>
        <div class="w-full h-0.5 bg-zinc-300 ml-2"></div>
      </div>
      <button
        class="border rounded-lg font-semibold border-primary p-3 w-full cursor-pointer text-white bg-primary hover:bg-secondary transition-all ease-in-out"
        (click)="navigate()"
      >
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
</main>
