<app-default-login-layout
  login="Acesse sua conta"
  primaryBtnText="Acessar"
  secondaryBtnText="Criar conta"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="johndoe@gmail.com"
    >
      <img src="assets/icons/mail.svg" alt="Email" class="" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      [type]="showPassword ? 'text' : 'password'"
      label="Senha"
      placeholder="**********"
      class="password"
    >
      <button (click)="togglePassword()">
        <img *ngIf="!showPassword" src="assets/icons/eye.svg" alt="Eye Icon" />
        <img *ngIf="showPassword" src="assets/icons/eye-off." alt="Eye Off Icon" />
      </button>
      <img src="/assets/icons/password-icon.svg" />
    </app-primary-input>
  </form>
</app-default-login-layout>
